// 颜色定义规范
$color-background-primary: #409EFF;
$color-background-danger: #F56C6C;
$color-background-success: #67C23A;
$color-background-warning: #E6A23C;
$color-background-info: #909399;
$color-background-black: #303133;
$color-background-white: #FFFFFF;
$color-background-logo: #00b05f;
$color-background-light-blue: #f2f8fa;
$color-background-white-t: rgba(255,255,255,0.85);
$color-background-sidebar: #324157;
$color-background-menuitem: #202e3e;
// $color-background-menu: #324157 // #324157

$color-text-primary: #409EFF;
$color-text-danger: #F56C6C;
$color-text-success: #67C23A;
$color-text-warning: #E6A23C;
$color-text-info: #909399;
$color-text-black: #303133;
$color-text-white: #FFFFFF;
// $color-text-menu: rgb(191, 203, 217) // #bfcbd9;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
$font-size-large-xx: 25px;

$font-size-r-small-s: .3rem;
$font-size-r-small: .4rem;
$font-size-r-medium: .5rem;
$font-size-r-medium-x: .6rem;
$font-size-r-large: .7rem;
$font-size-r-large-x: .9rem;
$font-size-r-large-xx: 1.1rem;
